h1 {
	color: white;
	text-align: center;
}

#cta {
	width:200px;
	background: blue;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

#cta p{
	color: white;
	padding: 5px 20px;
}
#yellow-band{
	background: yellow;
}