

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

body{
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  height: 100%;
}
#header{
  background-image: url("../images/header_bg.jpg");
  color: white;
  height: 500px;
  background-size: 100% 100%;
  width: 1280px;
  background-repeat: no-repeat;
}

h1{
  font-size: 24px;
  padding: 20px 0px 0px 50px;
  font-weight: 700;
}

p{
  padding: 100px 0px 0px 0px;
  text-align: center;
  font-size: 24px;
  font-weight: 650;
}

  nav{
  color: #033048;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  margin: 80px 550px 80px 550px;
  padding: 10px 50px 10px 50px;
  border-radius: 5px;
  text-decoration: none;
  background: #f9e42e;
}

#benefits{
  background-color: #f0efef;
  color: #033048;
  height: 400px;
}

h2{
  font-weight: 675;
  font-size: 20px;
  padding: 50px 0px 0px 50px;
}

h3{
  font-weight: 300;
  font-size: 13px;
  padding-left: 50px;
}
  ul{
  font-weight: 300;
  font-size: 13px;
  padding: 30px 0px 30px 100px;
  list-style-type: square;
}

li{
  padding-top: 10px;

  }

  #quote{
  background-image: url("../images/testimonial_bg.jpg");
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  font-size: 18px;
  padding: 100px 0px 100px 0px;
  height: 90%;
}

blockquote{
  font-style: italic;
  margin: 0px 400px 0px 400px;
  letter-spacing: 2px;
  font-weight: 300;
  line-height: 30px;
  font-size: 18px;
}

article{
  font-weight: 650;
  padding-top: 20px;
  font-size: 18px;
}

#yellow{
  text-align: center;
  background-color: #f9e42e;
  padding: 20px 0px 20px 0px;
  height: 35px;
}

#link{
  background: #033048;
  color: #FF0000;
  text-decoration: none;
  padding: 10px 20px 10px 20px;
  margin: 0px 550px 0px 550px;
  font-weight: 700;
  font-size: 12px;
  border-radius: 5px;
}

footer{
  background-color: #606161;
  text-align: center;
  height: 100%;
  width: 100%;
  padding: 30px 0px 0px 0px;
}

h4{
  font-size: 24px;
  font-weight: 700;
  color: #f9e42e;
  padding-bottom: 20px;
}

#twitter{
  float: center;
  background-color: #606161; 
  display: inline;
}

#facebook{
  float: center;
  background-color: #606161; 
  display: inline;
  padding-left: 10px;
}

aside{
  font-size: 9px;
  font-weight: 650;
  padding: 20px 0px 20px 0px;
}



